*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary: #669900;
	--primary-deep: #243600;
	--secondary: #808080;
	--contrast: #8b0000;
	--text: #000; 
	--text-btn: #fff;
	--font: Verdana, Geneva, Tahoma, sans-serif;
}
body {
}

