*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary: #02162b;
	--primary-light: #072d56;
	--secondary: #40e0d0;
	--contrast: #d3acfa;
	--text: #000; 
	--text-title: #fff;
	--font: Arial, Helvetica, sans-serif;
}

body{
	font-family: var(--font);
}
	
/* HEADER */
header{
	display: flex;
	flex-direction: column;
	width: 100%;
	box-shadow: 0px 8px 16px -10px rgba(0,0,0,0.75);
}

/* HEADER - PRIMER DIV */
header .header_first_div{
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary);
	color: var(--text-title);
}

header .header_principal{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.2rem;
}


header .principal_logo{
	width: 50px;
}

header .nav_container{
	display: flex;
	gap: 1.2rem;
	
}

header .nav_link{
	display: flex;
	color: var(--text-title);
	text-decoration: none;
	cursor: pointer;
	
}

/* HEADER - SEGUNDO DIV */

header .header_second_div{
	display: flex;
	padding: 0.5rem;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary-light);
	color: var(--text-title);
}

header .search_container, header .login_container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

header .search_container input, header .login_container input{
	padding: 0.2rem;
	border-radius: 2px;
}

header .search_container input:focus, header .login_container input:focus{
	outline: 2px solid var(--secondary);
	border-radius: 2px;
}

header .login_btn{
	padding: 0.2rem;
	background-color: var(--contrast);
	border-radius: 2px;
	cursor:pointer;
}

header .login_btn:focus{
	outline: 2px solid var(--secondary);
	border-radius: 2px;
}

header .login_btn:hover{
	background-color: rgb(63, 29, 96);
	border: 1px solid gainsboro;
	color: var(--text-title);
}

/* MAIN */

.grid-container {
	height: 100vh;
	display: grid;
	grid-template-columns: 4fr 1fr; 
	grid-gap: 20px; 
  }
  
.content {
	padding: 20px;
	background-color: lavender;
	margin-left: 15px;
}
  
/* BARRA LATERAL */
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	margin-right: 15px;
	background-color: lavender;
	border-radius: 5px;
}

.sidebar h3{
	text-align: center;
	padding: 1rem;
}

.sidebar .sidebar_inputs{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.sidebar .sidebar_input{
	border: 1px solid gray;
	padding: 0.2rem;
	border-radius: 2px;
}

.sidebar .sidebar_input:focus{
	outline: 3px solid var(--secondary);
	border-radius: 2px;
}

.sidebar .sidebar_btn{
	padding: 0.2rem;
	background-color: var(--contrast);
	border-radius: 2px;
	border: 1px solid rebeccapurple;
	cursor:pointer;
}

.sidebar .sidebar_btn:focus{
	outline: 2px solid var(--secondary);
	border-radius: 2px;
}

.sidebar .sidebar_btn:hover{
	background-color: rgb(63, 29, 96);
	border: 1px solid gainsboro;
	color: var(--text-title);
}




  




